{% extends 'base.html.twig' %}

{% block title %}
  Café hugo
  
{% endblock %}

{% block body %}
  <header>
    <nav>
      <h1>Café Hugo</h1> 
      <h2>2 Place de la Libération, 21000 Dijon - tel : 03 80 53 19 69</h2>
      <ul>
        <li><a href="{{ path('app_home') }}">Acceuil</a></li>
        <li><a href="{{ path('app_board') }}">Les cartes</a></li>
        <li><a href="#">Évènement</a></li>
        <li><a href="#">A emporter</a></li>
        <li><a href="#">réservation</a></li>
        <li><a href="#">avis</a></li>
      </ul>

    </nav>

  </header>

  <main>

  
  </main>

  <footer></footer>

</div>{% endblock %}