body{
background-color: #fff7f7;
}

h1{
    text-transform: uppercase;
    font-family: Roboto Mono;
    text-align: center;
    padding-top: 2em;
}

h2{
    margin-top: 2.5em;
    text-align: center;
}

header nav{
    margin-top:-1.4em;
}

header{
background-image: url(/image/diapoCopie.jpg);
height: 100vh;
background-size: cover;
}

nav ul {
    list-style: none;
    margin-top: 5em;
    text-align: center;
   
}

nav ul li {
    display: inline;
    
     
}

nav li{
    display: inline-block;
    margin: 5em;
    font-family: Roboto Mono;
    font-weight: bolder;
   
}

ul li a{
     text-decoration: none;
     color: black;
     background-color: cornflowerblue;
     padding-left: 1em;
     padding-right: 1em;
     padding-top: 1em;
     padding-bottom: 1em;
     border-radius: 45%;
}

ul li  a:hover{
    text-decoration: none;
}

.board{
    margin-top: 10em;
}


.view {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    align-items: center;
    justify-content: center;
}

.view img {
    width: 35%;
    border: 20px solid white;
    border-bottom: 100px solid white;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.75);
}
