{% extends 'base.html.twig' %}

{% block title %}
    Les cartes
                
            
        
    
{% endblock %}

{% block body %}

    <header>
        <nav>
            <h1>
                Café Hugo                      
            </h1>
            <ul>
                <li><a href="{{ path('app_home') }}">Acceuil</a></li>
                <li><a href="{{ path('app_board') }}">Les cartes</a></li>
                <li><a href="#">Évènement</a></li>
                <li><a href="#">A emporter</a></li>
                <li><a href="#">réservation</a></li>
                <li><a href="#">avis</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="board">
        Les cartes             
    </h1>

    <div class="w-50 mx-auto pt-5">
        <p>
            Nos menus sont fait maison                
        </p>

        <div class="row pt-5">
            <div class="col">
                <img src="../image/carte boisson.jpg" role="button" class="img-fluid lightbox"></div>
                <div class="col">
                    <img src="../image/vins et planches.jpg" role="button" class="img-fluid lightbox"></div>
                    <div class="col">
                        <img src="../image/bagel.jpg" role="button" class="img-fluid lightbox"></div>
                        <div class="col">
                            <img src="../image/carte formule du matin.jpg" role="button" class="img-fluid lightbox"></div>

                        </div>
                    </div>

                    _________________________________________________________________________________________________________________________________________________________________
                                                                            
                                                        
                                   
                                    
                    <br>
                        <br>
                            <br>
                                <br>
                                    <br>
                                        <br>
                                            <br>

                                            {% endblock %}
                                            